$background-color: hsla(354, 79, 76, 1);
$positionStart: 0;
$whiteBackground:rgb(255, 255, 255, 0.5);

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-color;
    height: 15%;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #000000;
    position: absolute;

    .gallery-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20vw;
        width: 25%;
        height: 40%;
        padding: 20px;
        background-color: $whiteBackground;
        border-radius: 60px;
        box-shadow: 1px 1px 1px #000000;
        cursor:pointer;

                &:hover {
                        transform: scale(1.1);
                        transition: 0.75s;
                    }

    }

    .header-star {
        margin-right: 25%;
        width: 10%;
        cursor: pointer;

                &:hover {
                        transform: scale(1.1);
                        transition: 0.75s;
                    }
    }
        
}




