$background-color: hsla(354, 79, 76, 1);
$positionStart: 0;
$whiteBackground:rgb(255, 255, 255, 0.5);
#headerContainer{
    display:flex;
    background-color:$background-color ;
    height: 10vh;
    width:100vw;
    position: fixed;
    top: $positionStart;
    // left: $positionStart;
    box-shadow: 2px 2px 4px black;
}
.headerStar{
    margin-right:25vw;
    width:10vw;
    cursor:pointer;
}
#galleryButton{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:20vw;
    margin-top:2vh;
    width: 25%;
    height: 40%;
    padding:20px;
    background-color:$whiteBackground;
    border-radius:60px;
    box-shadow: 1px 1px 1px black;
    cursor:pointer;
}
