$background-color: hsla(354, 79, 76, 1);
$positionStart: 0;
$whiteBackground:rgb(255, 255, 255, 0.5);
#headerContainer{
    display:flex;
    background: $background-color;
    height: 5.7vh;
    width:100vw;
    position: fixed;
<<<<<<< HEAD
    z-index: 100;
    box-shadow: 0.5px 0.5px 0.5px 1px #000000;
=======
    top: $positionStart;
    // left: $positionStart;
    box-shadow: 2px 2px 4px black;
>>>>>>> gallery-Fran
}
.headerStar{
    margin-right:25vw;
    width:10vw;
    cursor:pointer;
}
#galleryButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:20vw;
    margin-top: 3px;
    width: 30%;
    height: 4vh;
    background-color:$whiteBackground;
    border-radius:7px;
    box-shadow: 1px 1px 1px #000000;
    cursor:pointer;
    transition: 0.85s;

            &:hover {
                transform: scale(1.1);
            }
}
