$background-color: hsla(354, 79, 76, 1);
$positionBottomStart: 0;
$centerElement: center;
// $alingElementToEnd:  right;
$whiteBackground:rgb(255, 255, 255, 0.5);


#footerContainer{
    display:flex;
    background-color:$background-color ;
    height: 10vh;
<<<<<<< HEAD
    width:100vw;
=======
    width: 100%;
>>>>>>> gallery-Fran
    bottom: $positionBottomStart;
    left: $positionBottomStart;
    border: solid 1px #000000;
}

#footerButtonContainer{
    width: 30%;
    height:75%;
    margin-left:3vw;
    display:flex;
    margin-top: 1.2vh;
    background-color:$whiteBackground;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;   
}

#Credits{
    width: 50vw;
    margin-top:2vh;
    margin-left: 15vw;
    margin-right: 15vw;
}
#dateHourContainer{
    width: 25%;
    display: flex;
    justify-content: center;
    height: 45%;
    margin-right: 40px;
    margin-top: 20px;
    text-align: $centerElement;
    align-items: center; 
    background-color:$whiteBackground;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}


