$background-color: hsla(354, 79, 76, 1);
$positionBottomStart: 0;
$centerElement: center;
$alingElementToEnd:  right;
$whiteBackground:rgb(255, 255, 255, 0.5);


#footerContainer{
    display:flex;
    background-color:$background-color ;
    height: 10vh;
    width:100vw;
    bottom: $positionBottomStart;
    left: $positionBottomStart;
    border-top: 1px solid #000000;
}

#footerButtonContainer{
    width: 30%;
    height:75%;
    margin-top:2vh;
    margin-left:3vw;
    display:flex;
    background-color:$whiteBackground;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

#logo-footer {
    width: 100%;
    height: 100%;
}
#Credits{
    width: 50vw;
    margin-top:2vh;
    margin-left: 15vw;
    margin-right: 15vw;
}
#dateHourContainer{
    width: 25%;
    height: 55%;
    padding-top: 10px;
    padding-right:  10px;
    padding-bottom:  10px;
    padding-left: 10px;
    margin-top:3vh;
    margin-right:2vh;
    text-align: $centerElement;
    align-items: center; 
    background-color:$whiteBackground;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}


