.banner{
    background: hsl(266, 40%, 66%);
    opacity: 80%;
    width: 100%;
    height: 100px;
    box-shadow: 0.5px 0.5px 0.5px 1px #000000;
    
    .pics{
        display:flex;
        margin-left:15%;
        overflow:visible;
        .hero{
            margin-left:10%;
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }
        .race{
            margin-top:2%;
            margin-left:14%;
            height: 30px;
            padding:5px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color:#FEE6E8;
            border-radius:10px;
            box-shadow: 1px 1px 1px black;
        }
    }
   
}
