.container {
  background-image: url('../../assets/fondo.jpg');
  background-repeat: repeat;
}
.less-heroes{
  height:100vh;
  background-image: url('../../assets/fondo.jpg');
}
ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 090px ;
}

img{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  }

.star-fav{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 120px;
  margin-top: -55px;
}

.star-fav:hover {
  transform: scale(1.2);
}