.container {
  background: url('/assets/fondo.jpg');
  background-size: cover;
  background-repeat: repeat;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 200px;
  height: 200px;
  margin: 10px;
}

img{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}