.container {
  background-image: url('../../assets/fondo.jpg');
  background-repeat: repeat;
}

ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

img{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.star-fav{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left:-50px;
  margin-top: 130px;
}