/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
* {
=======

// html,

// body {
//     height: 100%;
// }

body {
>>>>>>> gallery-Fran
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.filledStar {
    color: #e57920;
    width: 70%;
    height: 90%;
    background-image: url("assets/pics/filled_Star.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.85s;

            &:hover {
                transform: scale(1.1);
            }
}

.logo {
    background-image: url("assets/pics/logo.png");
    width: 70%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}